<!--The content below is only a placeholder and can be replaced.-->
<!-- <router-outlet></router-outlet> -->

<form (ngSubmit)="onSubmit(form1)" #form1="ngForm">
  <input type="text" [(ngModel)]="user.name" #name="ngModel" name="username" minlength="5" required>
  <div *ngIf="name.invalid && (name.dirty || name.touched)">
    <p *ngIf="name.hasError('required')">User name is required field</p>
    <p *ngIf="name.hasError('minlength')">Minimun 6 characters are required</p>
  </div>
  <input type="submit" name="submit" value="Submit" [disabled]="form1.invalid">
</form>

